<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
      <title>Profile</title>
      <style>
       #head h1{
        font-family: 'Righteous', cursive;
        position:relative;
        
      }
      #head{
          padding:10px;
          padding-top:20px;
      }
      #card{
          width:450px;
          margin-top:5%;
      }
      </style>
   </head>
   <body>
   <div class='container-fluid'>
        <div id='head' class='container-fluid'>
            <center><h1>Icfai Tech</h1></center>
        </div>
        <div class="container-fluid"> 
            <div class="row">
                <div class="col-xl-11 bg-dark text-white" ><h5 style='margin-top:8px;'>UserName : <span class="badge badge-primary"><span></a></h5></div>
                <div class="col-xl-1 text-center text-white "><button type='button' class='btn btn-primary' style='margin-top:1px;'><a class="text-decoration-none text-light" href="">SignOut</a></button></div>
            </div>
        </div>
        <br><br>
        <div class='container'>
            <div class="card">
                <div class="card-header text-center"><a href='' style='text-decoration:none; color:black;'><strong>Profile - </strong></a>
                </div>
                <div class="card-body">
                    <div class='row'>
                        <div class='col-sm-3'><strong>First Name</strong></div>
                        <div class='col-sm-3'></div>
                        <div class='col-sm-3'><strong>Last Name</strong></div>
                        <div class='col-sm-3'></div>
                    </div>
                    <hr>
                    <div class='row '>
                        <div class='col-sm-3'><strong>Fathers Name</strong></div>
                        <div class='col-sm-3'></div>
                        <div class='col-sm-3'><strong>Mothers Name</strong></div>
                        <div class='col-sm-3'></div>
                    </div>
                    <hr>
                    <div class='row '>
                        <div class='col-sm-3'><strong>Email ID</strong></div>
                        <div class='col-sm-3'></div>
                        <div class='col-sm-3'><strong>Phone Number</strong></div>
                        <div class='col-sm-3'></div>
                    </div>
                    <hr>
                    <div class='row'>
                        <div class='col-sm-3'><strong>Xth Percentage</strong></div>
                        <div class='col-sm-3'></div>
                        <div class='col-sm-3'><strong>XIIth Percentage</strong></div>
                        <div class='col-sm-3'></div>
                    </div>
                    <hr>
                    <div class='row'>
                        <div class='col-sm-3'><strong>Date Of Birth</strong></div>
                        <div class='col-sm-3'></div>
                        <div class='col-sm-3'><strong>Year Of Joining</strong></div>
                        <div class='col-sm-3'></div>
                    </div>
                    <hr>
                    <div class='row'>
                        <div class='col-sm-3'><strong>ATIT Physics</strong></div>
                        <div class='col-sm-3'></div>
                        <div class='col-sm-3'><strong>ATIT Maths</strong></div>
                        <div class='col-sm-3'></div>
                    </div>
                    <hr>
                    <div class='row'>
                        <div class='col-sm-3'><strong>ATIT Chemistry</strong></div>
                        <div class='col-sm-3'></div>
                        <div class='col-sm-3'><strong>ATIT Logical</strong></div>
                        <div class='col-sm-3'></div>
                    </div>
                    <hr>
                    <div class='row'>
                    <div class='col-sm-3'><strong>ATIT English</strong></div>
                    <div class='col-sm-3'></div>
                    <div class='col-sm-3'><strong>ATIT Total</strong></div>
                    <div class='col-sm-3'></div>
                    </div>
                    <hr>
                    <div class='row'>
                    <div class='col-sm-3'><strong>Admission Fee</strong></div>
                    <div class='col-sm-3'></div>
                    <div class='col-sm-3'><strong>Term Fee</strong></div>
                    <div class='col-sm-3'></div>
                    </div>
                    <hr>
                    <div class='row'>
                    <div class='col-sm-3'><strong>Branch Allocated</strong></div>
                    <div class='col-sm-3'></div>
                    <div class='col-sm-3'><strong>Status</strong></div>
                    <div class='col-sm-3'></div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
   </body>
</html>
